<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    <div class="login-form">
    
        <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-control">
            <label for="username">
                Username
            </label>
            <input type="text" name="username">
        </div>
        <div class="form-control">
            <label for="password">
                password
            </label>
            <input type="text" name="password">
        </div>
        <div class="form-control">
        
            <button type="submit">Login</button>
        </div>
        </form>
        <a href="{% url 'create-user' %}">Register</a>
    </div>
</body>

</html>